Project title: Analyzing Turnover for KM Airlines-Dulles VA
Team Members:
•	Kirun Dar
•	Magdy Gad
•	Francis Kang
Project Description /outline:
KM Airlines is a charter airline company currently located in northern Virginia area. It currently flies from DCA, IAD and BWI Airports. The IAD airport of location is experiencing a high turnover. The CEO of KM Airlines has requested the financial analyst and HR analyst of his organization to provide an analysis on the causes for the high turnover as well as recommendations.
Research questions:
1.	How are the following variables affecting the turnover?
a.	Termination Cause
b.	Wage analysis 
o	Competitors 
o	Cost per hire
o	Overtime 
c.	Total compensations
d.	Benefits
e.	Cost of living

In [13]:
import os
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests as req
import locale
from itertools import groupby

In [14]:
overtime = pd.read_csv("../Airline/Overtime.csv")
overtime

    COMPANY  WAGE-OVERTIME HOURS PER-END-DATE
0       PAX                  6.0       17-Jan
1      RAMP                  7.0       17-Jan
2      RAMP                  8.0       17-Jan
3      RAMP                  9.0       17-Jan
4      RAMP                 10.0       17-Jan
5      RAMP                 11.0       17-Jan
6      RAMP                 12.0       17-Jan
7      RAMP                 13.0       17-Jan
8      RAMP                 15.0       17-Jan
9      RAMP                 16.0       17-Jan
10     RAMP                  2.0       17-Jan
11     RAMP                  3.0       17-Jan
12     RAMP                  4.0       17-Jan
13     RAMP                  6.0       17-Feb
14     RAMP                  7.0       17-Feb
15     RAMP                  8.0       17-Feb
16     RAMP                  9.0       17-Feb
17     RAMP                 10.0       17-Feb
18     RAMP                 11.0       17-Feb
19     RAMP                 12.0       17-Feb
20      PAX                 13.0       17-Feb
21     RAMP                 15.0       17-Feb
22     RAMP                 16.0       17-Feb
23     RAMP                  2.0       17-Feb
24     RAMP                  3.0       17-Feb
25     RAMP                  4.0       17-Feb
26     RAMP                  6.0       17-Feb
27     RAMP                  7.0       17-Feb
28     RAMP                  8.0       17-Feb
29     RAMP                  9.0       17-Feb
..      ...                  ...          ...
622     NaN                  NaN          NaN
623     NaN                  NaN          NaN
624     NaN                  NaN          NaN
625     NaN                  NaN          NaN
626     NaN                  NaN          NaN
627     NaN                  NaN          NaN
628     NaN                  NaN          NaN
629     NaN                  NaN          NaN
630     NaN                  NaN          NaN
631     NaN                  NaN          NaN
632     NaN                  NaN          NaN
633     NaN                  NaN          NaN
634     NaN                  NaN          NaN
635     NaN                  NaN          NaN
636     NaN                  NaN          NaN
637     NaN                  NaN          NaN
638     NaN                  NaN          NaN
639     NaN                  NaN          NaN
640     NaN                  NaN          NaN
641     NaN                  NaN          NaN
642     NaN                  NaN          NaN
643     NaN                  NaN          NaN
644     NaN                  NaN          NaN
645     NaN                  NaN          NaN
646     NaN                  NaN          NaN
647     NaN                  NaN          NaN
648     NaN                  NaN          NaN
649     NaN                  NaN          NaN
650     NaN                  NaN          NaN
651     NaN                  NaN          NaN

[652 rows x 3 columns]

In [65]:
seniorityend= pd.read_csv("../Airline/IAD Overhead Seniority.csv")
seniorityend= seniorityend[['POSITION']]
seniorityend.count()

POSITION    113
dtype: int64

In [94]:
terms= pd.read_csv("../Airline/Terms.csv")
terms.count()

JOB TITLE                 85
EMPLOYEE                  85
EMP-STATUS                85
DATE-HIRED                85
PAEMPLOYEE.SENIOR-DATE    85
TERM-DATE                 85
CITY                      85
STATE                     85
ZIP                       85
Date of Birth             85
Payrate                   85
S/H                       85
dtype: int64

In [66]:
seniority_beg = pd.read_csv("../Airline/IAD Overhead Seniority beginning.csv")
seniority_beg= seniority_beg[['POSITION']]
seniority_beg.count()

POSITION    97
dtype: int64

In [17]:
bls= pd.read_csv("../Airline/bls.csv")
bls

,AREA,ST,STATE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_Q,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,1,AL,Alabama,00-0000,All Occupations,total,"1,912,990",0.4,1000.000,1.00,...,15.43,24.70,37.40,"17,580","21,200","32,100","51,370","77,780",NaN,NaN
1,1,AL,Alabama,11-0000,Management Occupations,major,"70,090",1.0,36.639,0.73,...,46.09,63.18,90.25,"52,470","70,040","95,870","131,410","187,720",NaN,NaN
2,1,AL,Alabama,11-1011,Chief Executives,detailed,"1,030",5.5,0.538,0.34,...,94.59,#,#,"98,310","137,140","196,750",#,#,NaN,NaN
3,1,AL,Alabama,11-1021,General and Operations Managers,detailed,"26,930",1.4,14.077,0.90,...,49.53,71.49,#,"55,770","74,270","103,030","148,710",#,NaN,NaN
4,1,AL,Alabama,11-1031,Legislators,detailed,"1,210",8.9,0.635,1.66,...,*,*,*,"16,180","17,070","18,560","21,590","37,320",True,NaN
5,1,AL,Alabama,11-2011,Advertising and Promotions Managers,detailed,50,14.8,0.025,0.12,...,*,*,*,*,*,*,*,*,NaN,NaN
6,1,AL,Alabama,11-2021,Marketing Managers,detailed,530,7.6,0.278,0.19,...,57.82,88.80,#,"67,650","85,010","120,270","184,710",#,NaN,NaN
7,1,AL,Alabama,11-2022,Sales Managers,detailed,"2,510",4.8,1.310,0.50,...,52.51,70.44,95.45,"59,970","80,700","109,210","146,520","198,540",NaN,NaN
8,1,AL,Alabama,11-2031,Public Relations and Fundraising Managers,detailed,400,8.0,0.207,0.46,...,39.61,51.50,72.75,"55,080","65,530","82,380","107,120","151,320",NaN,NaN
9,1,AL,Alabama,11-3011,Administrative Services Managers,detailed,640,7.5,0.333,0.18,...,42.37,55.02,75.11,"50,120","68,920","88,120","114,450","156,240",NaN,NaN
10,1,AL,Alabama,11-3021,Computer and Information Systems Managers,detailed,"3,260",6.7,1.704,0.68,...,53.75,69.09,84.15,"63,850","85,910","111,800","143,720","175,030",NaN,NaN
11,1,AL,Alabama,11-3031,Financial Managers,detailed,"4,990",2.9,2.609,0.67,...,54.97,73.35,96.86,"69,090","87,540","114,350","152,560","201,470",NaN,NaN
12,1,AL,Alabama,11-3051,Industrial Production Managers,detailed,"3,110",2.7,1.623,1.35,...,44.85,56.83,70.75,"61,690","74,230","93,280","118,200","147,160",NaN,NaN
13,1,AL,Alabama,11-3061,Purchasing Managers,detailed,950,2.1,0.498,0.97,...,52.08,60.77,72.90,"67,180","83,540","108,330","126,400","151,630",NaN,NaN
14,1,AL,Alabama,11-3071,"Transportation, Storage, and Distribution Mana...",detailed,610,4.7,0.321,0.40,...,42.98,53.88,68.53,"55,870","70,770","89,390","112,080","142,540",NaN,NaN
15,1,AL,Alabama,11-3111,Compensation and Benefits Managers,detailed,90,14.7,0.049,0.46,...,53.79,68.85,94.43,"80,290","92,720","111,890","143,200","196,400",NaN,NaN
16,1,AL,Alabama,11-3121,Human Resources Managers,detailed,"1,320",4.2,0.692,0.75,...,45.21,58.60,74.65,"52,650","70,510","94,040","121,880","155,280",NaN,NaN
17,1,AL,Alabama,11-3131,Training and Development Managers,detailed,150,8.7,0.081,0.35,...,50.47,67.95,97.12,"66,780","82,880","104,980","141,340","202,020",NaN,NaN
18,1,AL,Alabama,11-9021,Construction Managers,detailed,"3,010",5.7,1.574,0.88,...,39.56,48.55,62.27,"53,020","65,610","82,290","100,980","129,530",NaN,NaN
19,1,AL,Alabama,11-9031,"Education Administrators, Preschool and Childc...",detailed,120,19.8,0.064,0.19,...,17.51,25.08,42.79,"25,520","28,260","36,430","52,160","89,000",NaN,NaN
20,1,AL,Alabama,11-9032,"Education Administrators, Elementary and Secon...",detailed,"3,460",4.5,1.809,1.05,...,*,*,*,"57,570","67,560","78,270","92,560","102,440",True,NaN
21,1,AL,Alabama,11-9033,"Education Administrators, Postsecondary",detailed,"2,460",2.5,1.284,1.30,...,42.11,58.91,84.11,"54,050","66,280","87,580","122,530","174,950",NaN,NaN
22,1,AL,Alabama,11-9039,"Education Administrators, All Other",detailed,560,3.4,0.295,1.21,...,44.52,52.19,60.07,"50,430","72,010","92,590","108,550","124,950",NaN,NaN
23,1,AL,Alabama,11-9041,Architectural and Engineering Managers,detailed,"2,410",2.8,1.257,0.99,...,63.55,77.65,94.75,"89,960","111,360","132,180","161,520","197,080",NaN,NaN
24,1,AL,Alabama,11-9051,Food Service Managers,detailed,"2,250",5.9,1.174,0.82,...,29.04,37.08,47.73,"38,500","47,780","60,410","77,120","99,290",NaN,NaN
25,1,AL,Alabama,11-9061,Funeral Service Managers,detailed,280,23.4,0.145,2.43,...,28.47,38.96,48.91,"37,240","47,210","59,220","81,030","101,720",NaN,NaN
26,1,AL,Alabama,11-9081,Lodging Managers,detailed,520,9.9,0.273,1.08,...,21.53,27.46,34.10,"30,430","36,180","44,780","57,110","70,930",NaN,NaN
27,1,AL,Alabama,11-9111,Medical and Health Services Managers,detailed,"2,960",2.6,1.545,0.65,...,42.66,56.55,74.08,"57,960","70,960","88,730","117,630","154,090",NaN,NaN
28,1,AL,Alabama,11-9121,Natural Sciences Managers,detailed,140,11.2,0.075,0.19,...,48.71,56.96,62.37,"82,860","90,070","101,320","118,470","129,730",NaN,NaN
29,1,AL,Alabama,11-9131,Postmasters and Mail Superintendents,detailed,280,0.0,0.147,1.40,...,35.42,39.41,43.27,"62,820","66,710","73,660","81,980","90,000",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37531,78,VI,Virgin Islands,47-3013,Helpers--Electricians,detailed,40,35.9,1.168,2.28,...,9.62,15.94,17.78,"16,780","18,000","20,020","33,160","36,990",NaN,NaN
37532,78,VI,Virgin Islands,49-0000,"Installation, Maintenance, and Repair Occupations",major,"1,640",6.8,44.040,1.13,...,16.44,21.49,26.13,"20,450","25,770","34,200","44,700","54,360",NaN,NaN
37533,78,VI,Virgin Islands,49-1011,"First-Line Supervisors of Mechanics, Installer...",detailed,170,17.1,4.542,1.41,...,22.36,27.54,33.58,"34,270","40,160","46,500","57,280","69,840",NaN,NaN
37534,78,VI,Virgin Islands,49-2022,Telecommunications Equipment Installers and Re...,detailed,30,26.7,0.914,0.56,...,19.48,30.63,35.89,"23,610","34,570","40,520","63,710","74,650",NaN,NaN
37535,78,VI,Virgin Islands,49-3023,Automotive Service Technicians and Mechanics,detailed,160,15.3,4.373,0.95,...,16.34,20.74,24.06,"24,920","28,070","33,980","43,130","50,050",NaN,NaN
37536,78,VI,Virgin Islands,49-3031,Bus and Truck Mechanics and Diesel Engine Spec...,detailed,50,29.1,1.300,0.72,...,20.76,26.56,34.74,"18,440","28,160","43,170","55,250","72,270",NaN,NaN
37537,78,VI,Virgin Islands,49-3051,Motorboat Mechanics and Service Technicians,detailed,70,22.6,1.841,12.76,...,14.40,19.30,24.33,"23,380","26,360","29,940","40,150","50,600",NaN,NaN
37538,78,VI,Virgin Islands,49-9021,"Heating, Air Conditioning, and Refrigeration M...",detailed,**,**,**,**,...,18.09,25.25,31.31,"23,680","30,010","37,620","52,530","65,130",NaN,NaN
37539,78,VI,Virgin Islands,49-9071,"Maintenance and Repair Workers, General",detailed,780,9.2,21.015,2.21,...,14.46,19.12,23.19,"19,700","23,450","30,070","39,760","48,230",NaN,NaN
37540,78,VI,Virgin Islands,49-9099,"Installation, Maintenance, and Repair Workers,...",detailed,100,45.5,2.602,2.49,...,16.44,20.80,26.23,"17,180","19,290","34,190","43,270","54,550",NaN,NaN
37541,78,VI,Virgin Islands,51-0000,Production Occupations,major,670,6.4,18.019,0.28,...,13.05,18.13,25.25,"17,380","20,190","27,150","37,710","52,530",NaN,NaN
37542,78,VI,Virgin Islands,51-1011,First-Line Supervisors of Production and Opera...,detailed,80,27.3,2.125,0.49,...,23.02,32.72,38.85,"26,780","33,440","47,870","68,050","80,800",NaN,NaN
37543,78,VI,Virgin Islands,51-3011,Bakers,detailed,40,25.7,0.946,0.74,...,12.54,14.70,17.16,"17,110","19,810","26,070","30,570","35,690",NaN,NaN
37544,78,VI,Virgin Islands,51-3021,Butchers and Meat Cutters,detailed,50,21.6,1.265,1.33,...,13.16,14.94,17.88,"17,210","21,910","27,370","31,070","37,200",NaN,NaN
37545,78,VI,Virgin Islands,51-4121,"Welders, Cutters, Solderers, and Brazers",detailed,40,21.2,1.066,0.39,...,21.42,23.68,25.11,"32,710","38,410","44,560","49,250","52,230",NaN,NaN
37546,78,VI,Virgin Islands,51-6011,Laundry and Dry-Cleaning Workers,detailed,170,12.4,4.499,3.04,...,10.76,12.89,14.55,"16,730","18,460","22,370","26,820","30,250",NaN,NaN
37547,78,VI,Virgin Islands,51-9071,Jewelers and Precious Stone and Metal Workers,detailed,40,6.8,0.981,5.20,...,17.37,25.28,28.41,"20,700","23,880","36,120","52,580","59,100",NaN,NaN
37548,78,VI,Virgin Islands,53-0000,Transportation and Material Moving Occupations,major,"2,250",5.5,60.162,0.87,...,11.54,15.35,21.01,"16,930","18,860","24,000","31,930","43,710",NaN,NaN
37549,78,VI,Virgin Islands,53-1021,"First-Line Supervisors of Helpers, Laborers, a...",detailed,40,31.9,0.938,0.72,...,18.13,22.18,24.49,"26,900","30,160","37,710","46,140","50,940",NaN,NaN
37550,78,VI,Virgin Islands,53-3022,"Bus Drivers, School or Special Client",detailed,80,19.2,2.020,0.55,...,13.46,17.01,18.68,"19,150","22,480","28,000","35,380","38,850",NaN,NaN
37551,78,VI,Virgin Islands,53-3031,Driver/Sales Workers,detailed,150,32.3,4.041,1.33,...,9.21,11.21,14.79,"16,490","17,490","19,150","23,310","30,760",NaN,NaN
37552,78,VI,Virgin Islands,53-3032,Heavy and Tractor-Trailer Truck Drivers,detailed,170,28.5,4.611,0.38,...,15.51,18.38,23.52,"24,450","27,640","32,260","38,230","48,920",NaN,NaN
37553,78,VI,Virgin Islands,53-3033,Light Truck or Delivery Services Drivers,detailed,430,18.2,11.423,1.87,...,10.83,14.70,18.34,"16,840","18,410","22,530","30,580","38,150",NaN,NaN
37554,78,VI,Virgin Islands,53-3041,Taxi Drivers and Chauffeurs,detailed,70,2.1,1.985,1.48,...,13.32,14.80,21.39,"21,220","23,980","27,700","30,790","44,490",NaN,NaN
37555,78,VI,Virgin Islands,53-5011,Sailors and Marine Oilers,detailed,60,11.7,1.586,6.85,...,13.55,14.71,15.62,"20,500","25,570","28,190","30,600","32,480",NaN,NaN
37556,78,VI,Virgin Islands,53-5021,"Captains, Mates, and Pilots of Water Vessels",detailed,130,23.4,3.432,13.12,...,17.53,22.14,25.16,"19,080","26,750","36,470","46,050","52,330",NaN,NaN
37557,78,VI,Virgin Islands,53-6031,Automotive and Watercraft Service Attendants,detailed,70,22.8,1.793,2.29,...,10.13,11.52,13.11,"16,710","18,430","21,080","23,950","27,260",NaN,NaN
37558,78,VI,Virgin Islands,53-7061,Cleaners of Vehicles and Equipment,detailed,70,15.0,1.857,0.75,...,8.88,9.57,11.64,"16,310","17,120","18,460","19,900","24,210",NaN,NaN
37559,78,VI,Virgin Islands,53-7062,"Laborers and Freight, Stock, and Material Move...",detailed,540,10.3,14.560,0.79,...,10.48,12.64,17.60,"16,670","18,370","21,800","26,300","36,600",NaN,NaN
37560,78,VI,Virgin Islands,53-7064,"Packers and Packagers, Hand",detailed,150,14.9,3.952,0.79,...,8.55,9.10,9.54,"15,930","16,620","17,770","18,920","19,850",NaN,NaN

In [18]:
virginia = bls[bls['STATE'] == "Virginia"]
virginia

,AREA,ST,STATE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_Q,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
32972,51,VA,Virginia,00-0000,All Occupations,total,"3,760,550",0.5,1000.000,1.00,...,18.78,31.23,50.95,"18,660","24,720","39,070","64,950","105,980",NaN,NaN
32973,51,VA,Virginia,11-0000,Management Occupations,major,"170,770",1.0,45.411,0.90,...,57.58,77.70,#,"58,160","83,030","119,770","161,620",#,NaN,NaN
32974,51,VA,Virginia,11-1011,Chief Executives,detailed,"6,320",4.1,1.680,1.06,...,#,#,#,"63,800","137,900",#,#,#,NaN,NaN
32975,51,VA,Virginia,11-1021,General and Operations Managers,detailed,"52,380",1.6,13.928,0.89,...,57.56,83.25,#,"52,130","75,900","119,730","173,170",#,NaN,NaN
32976,51,VA,Virginia,11-1031,Legislators,detailed,580,8.4,0.155,0.41,...,*,*,*,"16,190","17,080","18,560","21,680","62,580",True,NaN
32977,51,VA,Virginia,11-2011,Advertising and Promotions Managers,detailed,240,24.7,0.063,0.31,...,54.13,73.37,#,"55,220","77,410","112,600","152,610",#,NaN,NaN
32978,51,VA,Virginia,11-2021,Marketing Managers,detailed,"3,840",5.0,1.021,0.70,...,73.72,93.62,#,"88,110","116,310","153,340","194,720",#,NaN,NaN
32979,51,VA,Virginia,11-2022,Sales Managers,detailed,"5,360",4.3,1.424,0.55,...,74.90,#,#,"67,630","99,680","155,790",#,#,NaN,NaN
32980,51,VA,Virginia,11-2031,Public Relations and Fundraising Managers,detailed,"1,250",7.2,0.332,0.73,...,65.31,81.35,#,"80,240","102,100","135,830","169,200",#,NaN,NaN
32981,51,VA,Virginia,11-3011,Administrative Services Managers,detailed,"4,120",3.4,1.095,0.58,...,45.61,58.93,74.45,"58,700","74,020","94,870","122,570","154,860",NaN,NaN
32982,51,VA,Virginia,11-3021,Computer and Information Systems Managers,detailed,"13,720",3.7,3.649,1.45,...,75.11,91.11,#,"104,440","127,730","156,220","189,500",#,NaN,NaN
32983,51,VA,Virginia,11-3031,Financial Managers,detailed,"13,370",6.0,3.556,0.92,...,65.59,85.88,#,"79,350","105,260","136,430","178,640",#,NaN,NaN
32984,51,VA,Virginia,11-3051,Industrial Production Managers,detailed,"2,400",5.8,0.638,0.53,...,49.69,65.41,84.04,"65,130","82,710","103,350","136,040","174,810",NaN,NaN
32985,51,VA,Virginia,11-3061,Purchasing Managers,detailed,"2,480",2.8,0.659,1.29,...,61.07,71.85,81.51,"84,260","108,880","127,030","149,450","169,550",NaN,NaN
32986,51,VA,Virginia,11-3071,"Transportation, Storage, and Distribution Mana...",detailed,"2,030",6.0,0.541,0.67,...,46.32,57.79,71.56,"60,680","77,120","96,350","120,210","148,840",NaN,NaN
32987,51,VA,Virginia,11-3111,Compensation and Benefits Managers,detailed,360,7.6,0.097,0.89,...,60.31,78.79,99.48,"59,060","96,080","125,450","163,880","206,910",NaN,NaN
32988,51,VA,Virginia,11-3121,Human Resources Managers,detailed,"3,480",3.3,0.925,1.00,...,60.32,76.39,95.99,"76,530","96,070","125,450","158,900","199,660",NaN,NaN
32989,51,VA,Virginia,11-3131,Training and Development Managers,detailed,950,7.8,0.254,1.08,...,58.03,77.16,#,"72,040","93,000","120,710","160,490",#,NaN,NaN
32990,51,VA,Virginia,11-9013,"Farmers, Ranchers, and Other Agricultural Mana...",detailed,30,44.4,0.009,0.27,...,30.40,42.93,50.47,"52,930","56,790","63,220","89,300","104,980",NaN,NaN
32991,51,VA,Virginia,11-9021,Construction Managers,detailed,"5,270",4.9,1.401,0.79,...,47.42,61.77,79.64,"60,220","74,970","98,630","128,470","165,650",NaN,NaN
32992,51,VA,Virginia,11-9031,"Education Administrators, Preschool and Childc...",detailed,"1,030",9.8,0.273,0.79,...,23.11,29.23,37.79,"33,220","37,910","48,070","60,790","78,610",NaN,NaN
32993,51,VA,Virginia,11-9032,"Education Administrators, Elementary and Secon...",detailed,"6,620",4.6,1.761,1.02,...,*,*,*,"64,010","74,380","91,420","113,690","132,860",True,NaN
32994,51,VA,Virginia,11-9033,"Education Administrators, Postsecondary",detailed,"3,050",7.6,0.812,0.82,...,43.54,59.09,80.45,"55,990","69,200","90,560","122,900","167,340",NaN,NaN
32995,51,VA,Virginia,11-9039,"Education Administrators, All Other",detailed,"1,110",6.4,0.296,1.22,...,48.36,57.57,66.49,"65,420","79,220","100,600","119,740","138,310",NaN,NaN
32996,51,VA,Virginia,11-9041,Architectural and Engineering Managers,detailed,"4,030",3.0,1.070,0.84,...,69.08,84.98,#,"98,480","119,020","143,690","176,750",#,NaN,NaN
32997,51,VA,Virginia,11-9051,Food Service Managers,detailed,"4,150",7.7,1.104,0.77,...,28.35,35.84,46.66,"37,380","46,800","58,960","74,540","97,050",NaN,NaN
32998,51,VA,Virginia,11-9061,Funeral Service Managers,detailed,180,31.3,0.047,0.79,...,46.26,56.45,62.81,"49,710","61,770","96,220","117,410","130,650",NaN,NaN
32999,51,VA,Virginia,11-9081,Lodging Managers,detailed,"1,070",17.4,0.285,1.13,...,33.39,47.32,60.48,"34,800","49,440","69,440","98,420","125,810",NaN,NaN
33000,51,VA,Virginia,11-9111,Medical and Health Services Managers,detailed,"7,450",3.5,1.982,0.84,...,47.36,61.23,82.28,"61,240","79,630","98,520","127,370","171,140",NaN,NaN
33001,51,VA,Virginia,11-9121,Natural Sciences Managers,detailed,"1,240",3.8,0.330,0.85,...,58.00,73.90,85.52,"77,500","101,090","120,630","153,710","177,890",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33718,51,VA,Virginia,53-3031,Driver/Sales Workers,detailed,"10,750",11.6,2.858,0.94,...,12.06,18.18,23.88,"16,970","18,910","25,080","37,820","49,670",NaN,NaN
33719,51,VA,Virginia,53-3032,Heavy and Tractor-Trailer Truck Drivers,detailed,"40,450",2.6,10.758,0.89,...,18.82,23.49,29.01,"26,480","32,360","39,150","48,850","60,340",NaN,NaN
33720,51,VA,Virginia,53-3033,Light Truck or Delivery Services Drivers,detailed,"21,150",3.8,5.624,0.92,...,13.61,19.08,29.36,"17,270","19,990","28,310","39,680","61,070",NaN,NaN
33721,51,VA,Virginia,53-3041,Taxi Drivers and Chauffeurs,detailed,"4,600",7.1,1.222,0.91,...,12.63,14.57,18.56,"18,050","21,270","26,270","30,300","38,600",NaN,NaN
33722,51,VA,Virginia,53-3099,"Motor Vehicle Operators, All Other",detailed,"1,690",22.7,0.449,1.17,...,19.52,23.35,26.35,"19,870","24,380","40,610","48,580","54,810",NaN,NaN
33723,51,VA,Virginia,53-4011,Locomotive Engineers,detailed,**,**,**,**,...,27.38,30.13,38.27,"43,370","50,800","56,960","62,670","79,610",NaN,NaN
33724,51,VA,Virginia,53-4021,"Railroad Brake, Signal, and Switch Operators",detailed,**,**,**,**,...,26.05,29.48,31.57,"35,810","43,470","54,190","61,310","65,660",NaN,NaN
33725,51,VA,Virginia,53-4031,Railroad Conductors and Yardmasters,detailed,"1,020",36.7,0.272,0.89,...,27.05,31.64,39.35,"39,380","46,940","56,260","65,810","81,840",NaN,NaN
33726,51,VA,Virginia,53-5011,Sailors and Marine Oilers,detailed,"2,270",8.3,0.603,2.60,...,20.71,21.97,23.00,"33,190","37,110","43,070","45,690","47,840",NaN,NaN
33727,51,VA,Virginia,53-5021,"Captains, Mates, and Pilots of Water Vessels",detailed,"2,220",14.6,0.589,2.25,...,33.25,45.53,60.88,"47,190","55,830","69,160","94,690","126,630",NaN,NaN
33728,51,VA,Virginia,53-5022,Motorboat Operators,detailed,30,15.0,0.008,0.36,...,22.43,25.04,27.15,"28,030","44,430","46,650","52,070","56,480",NaN,NaN
33729,51,VA,Virginia,53-5031,Ship Engineers,detailed,"1,520",3.3,0.403,5.81,...,28.07,42.50,55.30,"38,480","44,720","58,380","88,400","115,020",NaN,NaN
33730,51,VA,Virginia,53-6021,Parking Lot Attendants,detailed,"2,080",19.6,0.552,0.53,...,10.45,11.75,13.74,"17,210","19,200","21,750","24,450","28,570",NaN,NaN
33731,51,VA,Virginia,53-6031,Automotive and Watercraft Service Attendants,detailed,"1,820",13.5,0.483,0.62,...,10.66,13.99,19.54,"16,990","18,760","22,170","29,100","40,630",NaN,NaN
33732,51,VA,Virginia,53-6041,Traffic Technicians,detailed,400,24.3,0.105,2.30,...,24.16,30.41,36.12,"28,880","39,980","50,250","63,250","75,130",NaN,NaN
33733,51,VA,Virginia,53-6051,Transportation Inspectors,detailed,670,15.9,0.178,0.91,...,37.27,45.33,59.32,"44,710","57,880","77,520","94,280","123,390",NaN,NaN
33734,51,VA,Virginia,53-6061,"Transportation Attendants, Except Flight Atten...",detailed,340,18.1,0.090,0.68,...,10.52,15.66,19.17,"16,810","18,270","21,880","32,570","39,880",NaN,NaN
33735,51,VA,Virginia,53-6099,"Transportation Workers, All Other",detailed,"1,630",8.3,0.434,1.62,...,21.06,27.35,29.83,"23,160","29,720","43,810","56,890","62,050",NaN,NaN
33736,51,VA,Virginia,53-7011,Conveyor Operators and Tenders,detailed,**,**,**,**,...,13.59,15.36,19.62,"21,710","25,230","28,270","31,950","40,810",NaN,NaN
33737,51,VA,Virginia,53-7021,Crane and Tower Operators,detailed,910,12.2,0.242,0.75,...,26.37,29.18,31.01,"34,530","46,770","54,860","60,690","64,490",NaN,NaN
33738,51,VA,Virginia,53-7032,Excavating and Loading Machine and Dragline Op...,detailed,"1,370",14.9,0.363,1.06,...,18.35,22.31,25.62,"28,400","33,010","38,160","46,400","53,290",NaN,NaN
33739,51,VA,Virginia,53-7041,Hoist and Winch Operators,detailed,90,27.5,0.024,1.13,...,18.12,21.88,26.93,"26,820","31,960","37,690","45,510","56,010",NaN,NaN
33740,51,VA,Virginia,53-7051,Industrial Truck and Tractor Operators,detailed,"12,740",5.9,3.388,0.88,...,16.45,19.39,23.71,"23,050","27,700","34,220","40,320","49,310",NaN,NaN
33741,51,VA,Virginia,53-7061,Cleaners of Vehicles and Equipment,detailed,"9,700",5.0,2.581,1.04,...,9.83,12.72,16.79,"16,450","17,790","20,440","26,450","34,930",NaN,NaN
33742,51,VA,Virginia,53-7062,"Laborers and Freight, Stock, and Material Move...",detailed,"49,810",2.8,13.246,0.72,...,12.07,15.39,19.43,"18,420","21,270","25,110","32,020","40,420",NaN,NaN
33743,51,VA,Virginia,53-7063,Machine Feeders and Offbearers,detailed,"2,510",17.1,0.667,1.06,...,14.03,18.11,22.32,"19,480","23,940","29,180","37,670","46,430",NaN,NaN
33744,51,VA,Virginia,53-7064,"Packers and Packagers, Hand",detailed,"13,000",6.1,3.456,0.69,...,10.76,14.21,18.20,"16,760","18,400","22,380","29,560","37,850",NaN,NaN
33745,51,VA,Virginia,53-7081,Refuse and Recyclable Material Collectors,detailed,"3,430",8.7,0.913,1.12,...,12.91,17.04,21.31,"17,210","19,560","26,860","35,440","44,330",NaN,NaN
33746,51,VA,Virginia,53-7121,"Tank Car, Truck, and Ship Loaders",detailed,180,11.1,0.047,0.61,...,13.82,15.04,23.37,"24,360","26,200","28,740","31,280","48,600",NaN,NaN
33747,51,VA,Virginia,53-7199,"Material Moving Workers, All Other",detailed,320,35.7,0.085,0.50,...,22.69,25.04,35.60,"21,220","42,120","47,200","52,070","74,050",NaN,NaN

In [19]:
occupation_cs = virginia[virginia['OCC_TITLE'] == "Customer Service Representatives"]
occupation_cs = occupation_cs[['H_MEDIAN', 'OCC_TITLE']]

In [20]:
occupation_cs

      H_MEDIAN                         OCC_TITLE
33454    15.45  Customer Service Representatives

In [21]:
#"Building and Grounds Cleaning and Maintenance Occupations", "Grounds Maintenance Workers, All Other"
occupation_gh = virginia[virginia['OCC_TITLE'] == "Grounds Maintenance Workers, All Other"]
occupation_gh = occupation_gh[['H_MEDIAN', 'OCC_TITLE']]

In [22]:
occupation_gh

      H_MEDIAN                               OCC_TITLE
33389    21.60  Grounds Maintenance Workers, All Other

In [23]:
occupation_cl = virginia[virginia['OCC_TITLE'] == "Building and Grounds Cleaning and Maintenance Occupations"]
occupation_cl = occupation_cl[['H_MEDIAN', 'OCC_TITLE']]

In [24]:
occupation_cl

      H_MEDIAN                                          OCC_TITLE
33379    11.66  Building and Grounds Cleaning and Maintenance ...

In [25]:
#Termination Cause- Voluntary- Resignation - Relocation
terms_vl_rl = terms[terms['EMP-STATUS'] == "Voluntary- Resignation - Relocation"].count()
terms_vl_rl= terms_vl_rl[['EMP-STATUS']]
terms_vl_rl

EMP-STATUS    19
dtype: int64

In [26]:
#Termination Cause- Voluntary- Resignation - Other Opportunity	
terms_vl_oo = terms[terms['EMP-STATUS'] == "Voluntary- Resignation - Other Opportunity"].count()
terms_vl_oo= terms_vl_oo[['EMP-STATUS']]
terms_vl_oo

EMP-STATUS    40
dtype: int64

In [27]:
#Termination Cause- Voluntary- Resignation - unknown	
terms_vl_uk = terms[terms['EMP-STATUS'] == "Voluntary- Unknown"].count()
terms_vl_uk = terms_vl_uk[['EMP-STATUS']]
terms_vl_uk

EMP-STATUS    2
dtype: int64

In [28]:
#Termination Cause- Involuntary- Termination for Cause
terms_iv_tc = terms[terms['EMP-STATUS'] == "Involuntary- Termination for Cause"].count()
terms_iv_tc= terms_iv_tc[['EMP-STATUS']]
terms_iv_tc

EMP-STATUS    6
dtype: int64

In [29]:
#Termination Cause- Involuntary- Job Performance 
terms_iv_jp = terms[terms['EMP-STATUS'] == "Involuntary- Job Performance"].count()
terms_iv_jp= terms_iv_jp[['EMP-STATUS']]
terms_iv_jp

EMP-STATUS    6
dtype: int64

In [30]:
#Termination Cause- Involuntary- Attendance Violation
terms_iv_av = terms[terms['EMP-STATUS'] == "Involuntary- Attendance Violation"].count()
terms_iv_av= terms_iv_av[['EMP-STATUS']]
terms_iv_av

EMP-STATUS    12
dtype: int64

In [32]:
#iv_vol = ["Voluntary Termination", "Involuntary Termination"]
#number_of_terminations = [2, 6, 12, 19 , 40]
#x_axis = np.arange(len(Number_of_terminations))

In [34]:
# Create a bar chart based upon the above data
#plt.bar(x_axis, number_of_terminations, color="b", align="edge")

In [35]:
#tick_locations = [value+0.4 for value in x_axis]
#plt.xticks(tick_locations, terminations)

NameError: name 'x_axis' is not defined

In [37]:
#Termination Cause- Voluntary- Total  terms_vl_rl  terms_vl_oo terms_vl_uk
total_vol= terms_vl_rl+terms_vl_oo+terms_vl_uk
total_vol

EMP-STATUS    61
dtype: int64

In [38]:
#Termination Cause- InVoluntary- Total  
total_invol= terms_iv_tc+ terms_iv_jp+terms_iv_av
total_invol

EMP-STATUS    24
dtype: int64

In [55]:
avg_pax = terms[terms['JOB TITLE'] == "PAX"]
avg_pax = avg_pax[['Payrate', 'JOB TITLE']]
avg_pax.mean()

Payrate    10.1
dtype: float64

In [53]:
avg_ramp = terms[terms['JOB TITLE'] == "RAMP"]
avg_ramp = avg_ramp[['Payrate', 'JOB TITLE']]
avg_ramp.mean()

Payrate    10.1
dtype: float64

In [57]:
avg_clean = terms[terms['JOB TITLE'] == "CLEANING"]
avg_clean = avg_clean[['Payrate', 'JOB TITLE']]
avg_ramp.mean()

Payrate    10.1
dtype: float64

In [102]:
# Overhead to calculate turnover  begg sen+end sen/2
overhead=(seniorityend.count()+seniority_beg.count())/2
overhead

POSITION    105.0
dtype: float64

In [107]:
#turnover=  # of terms/overhead average
turnover=terms.count()/105*100
turnover.astype(int).head(1)

JOB TITLE    80
dtype: int32

In [135]:
#Total hours OT YTD for each line of business
ot_pax = overtime[overtime['COMPANY'] == "PAX"]
ot_pax= ot_pax[['WAGE-OVERTIME HOURS']]
ot_pax.sum()

WAGE-OVERTIME HOURS    368.0
dtype: float64

In [136]:
#Overtime rate pax paid
dollar_pax= 368 *15.15
dollar_pax

5575.2

In [137]:
#Total hours OT YTD for each line of business
ot_ramp = overtime[overtime['COMPANY'] == "RAMP"]
ot_ramp= ot_ramp[['WAGE-OVERTIME HOURS']]
ot_ramp.sum()

WAGE-OVERTIME HOURS    4624.0
dtype: float64

In [138]:
#Overtime rate ramp paid
dollar_ramp= 4624 *15.15
dollar_ramp

70053.6

In [140]:
#Total hours OT YTD for each line of business
ot_cln = overtime[overtime['COMPANY'] == "CLEANING"]
ot_cln= ot_cln[['WAGE-OVERTIME HOURS']]
ot_cln.sum()

WAGE-OVERTIME HOURS    384.0
dtype: float64

In [141]:
#Overtime rate cleaning paid
dollar_ramp= 384 *15.15
dollar_ramp

5817.6